@model WebApplication1.ViewModels.DepartmentAndListOfFacultyAndListOfUniversity;

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}


<center>
    <h2 class="my-4"> Create Department</h2>
</center>
<form method="post" asp-action="createDepartment">
    <div class=" col-md-4  mx-4" style="width:50%;left:0">

        <div class=" form-group my-2">
            <label class="text-muted" asp-for="@Model.Department.DepartmentName"> </label>
            <input type="text" class="form-control" asp-for="@Model.Department.DepartmentName" />
        </div>

        <div class="form-group">
            <label class="text-muted ">University Name </label>
            <select class="form-control" asp-for="@Model.Department.UniversityId" asp-items="@(new SelectList(Model.Universities, "UniversityId", "UniversityName"))">
                <option></option>
            </select>
        </div>
        <div class="form-group">
            <label class="text-muted ">Faculty Name</label>
            <select class="form-control" asp-for="@Model.Department.FacultyId" asp-items="@(new SelectList(Model.Faculties, "FacultyId", "FacultyName"))">
                <option></option>
            </select>
        </div>


        <div class="custom-file mx-3 my-3">
            <button type="submit" class=" btn btn-outline-primary ">
                <i class="bi bi-check"></i>
                Save
            </button>
            <a asp-action="Index" class="btn btn-outline-secondary ">
                <i class="bi bi-x"></i>
                Cancle
            </a>
        </div>
        </div>
</form>
