@model WebApplication1.Models.Faculty

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor  HttpContextAccessor

@{
    if (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") == "true")
        Layout = "_Layout";
    else
        Layout = "userLayout";

}
<h1>Details</h1>

<div>
    <h4>University</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacultyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacultyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOfExpertise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaOfExpertise)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="editFaculty" asp-route-id="@Model.FacultyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
