@model IEnumerable<WebApplication1.Models.University>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor  HttpContextAccessor

@{
    if (HttpContextAccessor.HttpContext.Session.GetString("IsAdmin") == "true")
        Layout = "_Layout";
    else
        Layout = "userLayout";

}
<center>
    <div class="">
        <form class="form-inline my-2 mylg-0" asp-action="SearchUniversty" style="width:500px">
            <div class="form-group">
                <label for="SearchUniversty"></label>
                <input class="form-control mr-sm-2" name="SearchUniversty" value="@ViewData["CurrentFilter"]" type="text" />
                <input type="submit" value="search" class="btn btn-primary my-1" />
            </div>
        </form>
    </div>
</center>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UniversityName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UniversetyPhotoLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UniversityName)
                    </td>
                    <td>
                        <div class="@(item.UniversityId>0 ? string.Empty: "d-none")">
                            <div class="my-3 mx-2">
                                @{if (item.UniversityId > 0)
                                    {
                                        var base64String = Convert.ToBase64String(item.UniversetyPhotoLink, 0, item.UniversetyPhotoLink.Length);
                                        base64String = "data:image/png;base64," + base64String;
                                        <img src=" @base64String" height="200" width="200" />
                                    }

                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="universityDetails" asp-route-id="@item.UniversityId" class="btn btn btn-outline-secondary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>